<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="db" connectionString="Server =DESKTOP-5HU390O\SQLEXPRESS;Database= zx_data;Uid = sa; Pwd = a1234567"/>
  </connectionStrings>
</configuration>